.lead {
margin: 48px auto 0;
width: calc(100%-296px);
max-width: 984px;
}

@media (max-width:1024px) {
    .lead {
        max-width: 928px;
        width: calc(100%-96px);   
    } 
}

@media (max-width:768px) {
    .lead {
        max-width: 720px;
        width: 100%;  
    }
}
 
@media (max-width:320px) { 
    .lead {
        max-width: 320px;
        width: 100%; 
    }
}