.lead__image {
  margin: 56px auto 0;
  width: 100%;
  max-width: 984px;
  max-height: 615px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead__image {
    max-width: 928;
    max-height: 580px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0;
    max-width: 320px;
    max-height: 200;
  }
}
