.place__website {
  margin: 0;
  align-self: end;
  width: 100%;
  max-width: 456px;
  grid-column: 2;
  grid-row: 1;
}

@media (max-width: 690px) {
  .place__website {
    align-self: flex-start;
  }
}

@media (max-width: 320px) {
  .place__website {
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 288px;
    grid-column: 1;
    grid-row: 2;
  }
}
